.venv
__pycache__
build/
dist/
src/oci_policy_dg_viewer/_version.py
*.egg-info/
*.pyc
pycache/
icons/
**/.DS_Store
images/.$icon_source.drawio.bkp

# Sphinx
docs/_build/
_build/
docs/_autosummary/
_autosummary/
# Sphinx cache files
docs/.doctrees/
docs/.buildinfo